/* 头部样式 */
.header {
    background-color: #f3b768;
    padding: 20px 0;
    color: #fff;
    font-size: 16px;
}

.header .header-left h1 {
    margin: 0;
}

.header .header-contact-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.header .header-contact-num {
    font-size: 18px;
}

.header .header-contact a {
    color: #fff;
    text-decoration: none;
}

.header .header-links a {
    margin-left: 10px;
    color: #fff;
    text-decoration: none;
}

.header .header-links img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/* 导航栏样式 */
.navbar-inverse {
    background-color: #f3b768;
    border-color: transparent;
    margin-bottom: 0;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
    padding: 15px 20px;
}

.navbar-inverse .navbar-nav > li.active > a {
    background-color: #ffcc80;
}

.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #ffd699;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-inverse .navbar-brand img {
    max-width: 133px;
    height: auto;
}

.navbar-inverse .navbar-brand h1 {
    font-size: 20px;
    display: inline-block;
    margin: 0;
}

@media (max-width: 767px) {
    .navbar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navbar-header .navbar-toggle {
        margin-right: 15px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }
}
